<template>
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add Discount</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="create">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input required type="text" class="form-control" v-model="discount.name">
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input required type="number" min="0.00001" step="any" class="form-control" v-model="discount.amount">
                                </div>
                            </div>
                            
                            <div class="col-6 mb-2">
                                <div class="form-group">
                                    <label>Discount Type</label>
                                    <select class="form-control" @change="getOptions" required v-model="discount.type">
                                        <option value="" disabled selected>Select Type</option>
                                        <option value="0">all menu</option>
                                        <option value="1">category</option>
                                        <option value="2">subcategory</option>
                                        <option value="3">item</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 m-2" v-if="discount.type!=0">
                                <div class="form-group">
                                        
                                        <div class="mb-3">
                                            <Select2 required v-model="discount.parent_id"
                                         :options="my_options" :settings="{ width: '100%' }" 
                                         @select="mySelectEvent($event,key)" />
                                        </div>
                                        

                                </div>
                            </div>
                            
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <router-link :to='{name:"DiscountList"}' class="btn btn-secondary float-end">Back</router-link>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name:"add-discount",
    data(){
        return {
            my_options:[],
            discount:{
                name:"",
                amount:"",
                type:"",
                parent_id:''
            },
        }
    },
    mounted(){
        
    },
    methods:{
        async create(){
            await this.axios.post('/api/discount',this.discount).then(response=>{
                this.$router.push({name:"DiscountList"})
            }).catch(error=>{
                console.log(error)
            })
        },
        

        async getOptions(){
            this.my_options=[];
            var type=this.discount.type
            var url='';
            var urls_array=[];
            urls_array[1]='/api/category'
            urls_array[2]='/api/subcategory'
            urls_array[3]='/api/item'
            if(type!=0)
            await this.axios.get(urls_array[type]).then(response=>{
                response.data.map((item)=>{
                    this.my_options.push({id: item.id, text: item.name})
                });
            }).catch(error=>{
                console.log(error)
            })
        },
    

    }
}
</script>