<template>
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Discounts</span>
                    <router-link :to='{name:"DiscountAdd"}' class="btn m-1 btn-primary float-end">Create</router-link>
                    <router-link :to='{name:"home"}' class="btn m-1 btn-secondary float-end">Home</router-link>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>Discount For</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody v-if="discounts.length > 0">
                                <tr v-for="(discount,key) in discounts" :key="key">
                                    <td>{{ discount.id }}</td>
                                    <td>{{ discount.name }}</td>
                                    <td>{{ discount.amount }}</td>
                                    <td>{{ discount.discount_type }}</td>
                                    <td>{{ discount.model_name }}</td>
                                    <td>
                                        <button type="button" @click="deleteDiscount(discount.id)" class="mx-1 btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="4" align="center">No Discounts Found.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name:"discounts",
    data(){
        return {
            discounts:[]
        }
    },
    mounted(){
        this.getDiscounts()
    },
    methods:{
        async getDiscounts(){
            await this.axios.get('/api/discount').then(response=>{
                this.discounts = response.data
            }).catch(error=>{
                console.log(error)
                this.discounts = []
            })
        },
        deleteDiscount(id){
            if(confirm("Are you sure to delete this discount ?")){
                this.axios.delete(`/api/discount/${id}`).then(response=>{
                    this.getDiscounts()
                }).catch(error=>{
                    console.log(error)
                })
            }
        }
    }
}
</script>