<template>
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add Item</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="create">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input required type="text" class="form-control" v-model="item.name">
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input required type="number" min="0.0001" step="0.0001" class="form-control" v-model="item.price">
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Add To Category</label>
                                    <Select2 required :options="mycategoriesOptions" :settings="{ width: '100%' }" 
                                    @select="mySelectEvent($event,0)" />
                                </div>
                            </div>
                            
                            <div class="col-12 m-2">
                                <div class="form-group">
                                    <div v-show="can_show" v-for="(subcategories,key) in mySubcategoriesOptions" :key="key" >
                                        <div v-if="subcategories">
                                            {{ parents_names[key] }}
                                        <div class="mb-3">
                                            <Select2 required
                                         :options="mySubcategoriesOptions[key]" :settings="{ width: '100%' }" 
                                         @select="mySelectEvent($event,key)" />
                                        </div>
                                        </div>
                                    </div>
                                    <div v-show="can_add_subcategory" class="container">
                                            <div class="row">
                                            <button type="button" @click="add_subcategory" class="btn btn-primary">Add To Subcategory</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12">
                                <button v-if="this.item.category_id && this.item.name" type="submit" class="btn btn-primary">Save</button>
                                <router-link :to='{name:"ItemList"}' class="btn btn-secondary float-end">Back</router-link>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name:"add-item",
    data(){
        return {
            selected_category: '',
            can_show: '',
            can_add_subcategory: '',
            parent_name: '',
            levels_count: 0,
            mycategoriesOptions: [], // or [{id: key, text: value}, {id: key, text: value}]
            mySubcategoriesOptions: [],
            parents_names: [],
            stored_subcategories: [],
            item:{
                name:"",
                category_id:'',
                price:''
            },
        }
    },
    mounted(){
        this.getCategories()
    },
    methods:{
        async create(){
            await this.axios.post('/api/item',this.item).then(response=>{
                this.$router.push({name:"ItemList"})
            }).catch(error=>{
                console.log(error)
            })
        },

        add_subcategory(){
            
        },

        async getCategories(){
            await this.axios.get('/api/category').then(response=>{
                response.data.map((item)=>{
                    this.mycategoriesOptions.push({id: item.id, text: item.name})
                });
            }).catch(error=>{
                console.log(error)
                this.categories = []
            })
        },

        async getSubcategories(){
            await this.axios.get(`/api/create_item_subcategory/${this.selected_category}`).then(response=>{
                this.can_add_subcategory=response.data.length

                if(response.data.length){
                    this.can_show=true
                    this.mySubcategoriesOptions[this.levels_count]=[];
                    this.stored_subcategories=response.data;
                    this.stored_subcategories.map((item)=>{
                        this.mySubcategoriesOptions[this.levels_count].push({id: item.id, text: item.name})
                    });
                }

                console.log(this.mySubcategoriesOptions);

            }).catch(error=>{
                console.log(error)
                this.categories = []
            })
        },
        
        mySelectEvent({id, text},counter_value){
            this.selected_category=id;
            if(this.levels_count>counter_value){
                this.mySubcategoriesOptions.splice(counter_value+1, counter_value+2);
                this.levels_count=counter_value;
                this.item.category_id=counter_value!=1?id:'';
                this.parents_names.splice(counter_value+1, counter_value+2);
                this.getSubcategories();
            }else{
                this.levels_count++;
            }
            this.item.category_id=this.levels_count!=1?id:'';
            if(this.levels_count<4){
            this.parents_names[this.levels_count]=text;
            }else{
                this.can_add_subcategory=0
            }

            this.getSubcategories();

        }
    

    }
}
</script>