<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Update Item</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="update">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input required type="text" class="form-control" v-model="item.name">
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <div class="form-group">
                                    <label>Price</label>
                                    <input required type="text" class="form-control" v-model="item.price">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <router-link :to='{name:"ItemList"}' class="btn btn-secondary float-end">Back</router-link>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"update-item",
    data(){
        return {
            item:{
                name:"",
                price:"",
                _method:"patch"
            }
        }
    },
    mounted(){
        this.showItem()
    },
    methods:{
        async showItem(){
            await this.axios.get(`/api/item/${this.$route.params.id}`).then(response=>{
                const { name,price } = response.data
                this.item.name = name
                this.item.price = price
            }).catch(error=>{
                console.log(error)
            })
        },
        async update(){
            await this.axios.post(`/api/item/${this.$route.params.id}`,this.item).then(response=>{
                this.$router.push({name:"ItemList"})
            }).catch(error=>{
                console.log(error)
            })
        }
    }
}
</script>