<template>
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Items</span>
                    <router-link :to='{name:"ItemAdd"}' class="btn m-1 btn-primary float-end">Create</router-link>
                    <router-link :to='{name:"home"}' class="btn m-1 btn-secondary float-end">Home</router-link>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Category Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody v-if="items.length > 0">
                                <tr v-for="(item,key) in items" :key="key">
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.category.name }}</td>
                                    <td>
                                        <router-link :to='{name:"ItemEdit",params:{id:item.id}}' class="mx-1 btn btn-success">Edit</router-link>
                                        <button type="button" @click="deleteItem(item.id)" class="mx-1 btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="4" align="center">No items Found.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name:"items",
    data(){
        return {
            items:[]
        }
    },
    mounted(){
        this.getCategories()
    },
    methods:{
        async getCategories(){
            await this.axios.get('/api/item').then(response=>{
                this.items = response.data
            }).catch(error=>{
                console.log(error)
                this.items = []
            })
        },
        deleteItem(id){
            if(confirm("Are you sure to delete this item ?")){
                this.axios.delete(`/api/item/${id}`).then(response=>{
                    this.getCategories()
                }).catch(error=>{
                    console.log(error)
                })
            }
        }
    }
}
</script>