<template>
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <router-link to="/" class="navbar-brand" href="#">My Project</router-link>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <router-link exact-active-class="active" to="/" class="nav-item nav-link">Home</router-link>
                        <router-link exact-active-class="active" to="/category" class="nav-item nav-link">Categories</router-link>
                        <router-link exact-active-class="active" to="/subcategory" class="nav-item nav-link">Subcategories</router-link>
                        <router-link exact-active-class="active" to="/item" class="nav-item nav-link">Items</router-link>
                        <router-link exact-active-class="active" to="/discount" class="nav-item nav-link">Discounts</router-link>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mt-5">
            <h1 v-if="menu">Menu:</h1>
            <ul v-for="(category,key) in menu" :key="key">
                    <li class=" mx-3">
                        <h3 class="d-inline mx-3">{{category.name}}</h3>
                        <span class="d-inline" v-if="category.discount">{{category.discount.amount}}%</span>
                    </li>
                <ul>
                    <li class="" v-for="(subcategory,subkey_1) in category.children" :key="subkey_1">
                        <h4 class="d-inline mx-3">{{subcategory.name}}</h4>
                        <span class="d-inline" v-if="subcategory.discount">{{subcategory.discount.amount}}%</span>

                        <ul>
                            <li class="" v-for="(subcategory_2,subkey_2) in subcategory.children?subcategory.children:subcategory.item" :key="subkey_2">
                        <h4 class="d-inline mx-3">{{subcategory_2.name}}</h4>
                        <span class="d-inline" v-if="subcategory_2.discount">{{subcategory_2.discount.amount}}%</span>
                        <ul>
                            <li class="" v-for="(subcategory_3,subkey_3) in subcategory_2.children?subcategory_2.children:subcategory_2.item" :key="subkey_3">
                        <h4 class="d-inline mx-3">{{subcategory_3.name}}</h4>
                        <span class="d-inline" v-if="subcategory_3.discount">{{subcategory_3.discount.amount}}%</span>
                        <ul>
                            <li class="" v-for="(item,itemkey_4) in subcategory_3.item" :key="itemkey_4">
                        <h4 class="d-inline mx-3">{{item.name}}</h4>
                        <span class="d-inline" v-if="item.discount">{{item.discount.amount}}%</span>
                            </li>
                        </ul>
                            </li>                                                        
                        </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </main>
</template>
 
<script>
    export default {
        data() {
            return {
                menu:[]
            }
        },
        mounted(){
        this.getMenu()
    },
    methods:{
        async getMenu(){
            await this.axios.get('/api/get_menu').then(response=>{
                this.menu = response.data
                console.log(this.menu);
            }).catch(error=>{
                console.log(error)
                this.items = []
            })
        },
    }
    }
</script>