<template>
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Add Subcategory</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="create">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input required type="text" class="form-control" v-model="category.name">
                                </div>
                            </div>
                            <div class="col-6 mb-2">
                                <div class="form-group">
                                    <label>Add To Category</label>
                                    <Select2 required v-model="myValue" :options="mycategoriesOptions" :settings="{ width: '100%' }" 
                                    @change="myChangeEvent($event)" @select="mySelectEvent($event,0)" />
                                </div>
                            </div>
                            
                            <div class="col-12 m-2">
                                <div class="form-group">
                                    <div v-show="can_show" v-for="(subcategories,key) in mySubcategoriesOptions" :key="key" >
                                        <div v-if="subcategories">
                                            {{ parents_names[key] }}
                                        <div class="mb-3">
                                            <Select2 required
                                         :options="mySubcategoriesOptions[key]" :settings="{ width: '100%' }" 
                                        @change="myChangeEvent($event)" @select="mySelectEvent($event,key)" />
                                        </div>
                                        </div>
                                    </div>
                                    <div v-show="can_add_subcategory" class="container">
                                            <div class="row">
                                            <button type="button" @click="add_subcategory" class="btn btn-primary">Add To Subcategory</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12">
                                <button v-if="this.category.parent_id && this.category.name" type="submit" class="btn btn-primary">Save</button>
                                <router-link :to='{name:"SubcategoryList"}' class="btn btn-secondary float-end">Back</router-link>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name:"add-subcategory",
    data(){
        return {
            myValue: '',
            can_show: '',
            can_add_subcategory: '',
            parent_name: '',
            levels_count: 0,
            mycategoriesOptions: [], // or [{id: key, text: value}, {id: key, text: value}]
            mySubcategoriesOptions: [],
            parents_names: [],
            category:{
                name:"",
                parent_id:''
            },
        }
    },
    mounted(){
        this.getCategories()
    },
    methods:{
        async create(){
            await this.axios.post('/api/category',this.category).then(response=>{
                this.$router.push({name:"SubcategoryList"})
            }).catch(error=>{
                console.log(error)
            })
        },
        add_subcategory(){
            this.can_show=true
            this.getSubcategories();
        },

        async getCategories(){
            await this.axios.get('/api/category').then(response=>{
                response.data.map((item)=>{
                    this.mycategoriesOptions.push({id: item.id, text: item.name})
                });
            }).catch(error=>{
                console.log(error)
                this.categories = []
            })
        },

        async getSubcategories(){
            await this.axios.get(`/api/getSubcategories/${this.category.parent_id}`).then(response=>{
                this.can_add_subcategory=response.data.length

                if(response.data.length){
                    this.mySubcategoriesOptions[this.levels_count]=[];
                    response.data.map((item)=>{
                        this.mySubcategoriesOptions[this.levels_count].push({id: item.id, text: item.name})
                    });
                }

                console.log(this.mySubcategoriesOptions);

            }).catch(error=>{
                console.log(error)
                this.categories = []
            })
        },
        
        myChangeEvent(val){
            console.log(val)
        },
        mySelectEvent({id, text},counter_value){
            if(this.levels_count>counter_value){
                this.mySubcategoriesOptions.splice(counter_value+1, counter_value+2);
                this.levels_count=counter_value;
                this.category.parent_id=id
                this.parents_names.splice(counter_value+1, counter_value+2);
                this.getSubcategories();
            }else{
                this.levels_count++;
            }
            this.category.parent_id=id;
            if(this.levels_count<3){
            this.parents_names[this.levels_count]=text;
            }else{
                this.can_add_subcategory=0
            }

            if(this.levels_count==1)
            this.getSubcategories();

        }
    

    }
}
</script>