<template>
    <div class="container">
        <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <span class="h4">Subcategory</span>
                    <router-link :to='{name:"SubcategoryAdd"}' class="btn m-1 btn-primary float-end">Create</router-link>
                    <router-link :to='{name:"home"}' class="btn m-1 btn-secondary float-end">Home</router-link>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Parent Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody v-if="categories.length > 0">
                                <tr v-for="(category,key) in categories" :key="key">
                                    <td>{{ category.id }}</td>
                                    <td>{{ category.name }}</td>
                                    <td>{{ category.category.name }}</td>
                                    <td>
                                        <router-link :to='{name:"SubcategoryEdit",params:{id:category.id}}' class="mx-1 btn btn-success">Edit</router-link>
                                        <button type="button" @click="deleteCategory(category.id)" class="mx-1 btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="4" align="center">No Subcategories Found.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
export default {
    name:"categories",
    data(){
        return {
            categories:[]
        }
    },
    mounted(){
        this.getCategories()
    },
    methods:{
        async getCategories(){
            await this.axios.get('/api/subcategory').then(response=>{
                this.categories = response.data
            }).catch(error=>{
                console.log(error)
                this.categories = []
            })
        },
        deleteCategory(id){
            if(confirm("Are you sure to delete this subcategory ?")){
                this.axios.delete(`/api/category/${id}`).then(response=>{
                    this.getCategories()
                }).catch(error=>{
                    console.log(error)
                })
            }
        }
    }
}
</script>